*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
  background-color: #ffffff;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

button{
  background-color: #000;
  color: #ff0000;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover{
  color: #2bff00;
}

button a{
  text-decoration: none;
  color: #000;
}


